{
  "presets": ["next/babel"],
  "plugins": [
    [
      "babel-plugin-styled-components",
      {
        "fileName": true,
        "displayName": true,
        "pure": true
      }
    ]
  ]
}
// 최초 서버 사이드에서 렌더링 이후 클라이언트 사이드 렌더링으로 라우팅을 하게 된다.
// 이 때 서버에서 생성하는 해시값과 브라우저에서 생성하는 해시값이 서로 달라 에러가 발생하게 된다.(Prop className did not match)
// 이를 방지하기 위해 styled-components 바벨 플러그인을 설치한다.

// fileName : 코드가 포함된 파일명을 알려준다
// displayName : 클래스명에 해당 스타일 정보 추가
// pure : 사용하지 않은 속성 제거
